:root{
  --main-global-primary-color: white;
}

.container {
  margin-top: 45px;
}

#order-logo{
  width: 300px;
  display: flex;
  margin: 0 auto;
}

#aboutHero{
  padding: 35px;
  border-radius: 5px;
}

#initialDataHero{
  border-radius: 5px;
}

.endpointSectionBody{
  display: flex;
}

.endpointSectionBody-inputSide{
  flex: 1.75;
}

.endpointSectionBody-descriptionSide{
  flex: 1.25;
}

ul{
  list-style: disc;
  padding-left: 50px;
}

.field{
  width: 85%;
}

.endpointSectionResult{
  margin-top: 15px;
}